<div class="container-fluid d-flex">
  <div class="main">
    <div class="box-1"></div>

    <div class="box-2"></div>

    <div class="box-3 d-flex">
      <!-- feed-1 -->
      <div class="feed-1">
        <div class="feed-1a d-flex">
          <div class="f-1a">
            <li class="li-1"></li>
            <li class="li-2"></li>
            <li class="li-3"></li>
            <li class="li-3"></li>
            <li class="li-3"></li>
            <li class="li-3"></li>
            <li class="li-3"></li>
            <li class="li-3"></li>
            <li class="li-9"></li>
          </div>
          <div class="f-1b"></div>
        </div>
        <div class="feed-2a d-flex">
          <div class="feed-2b">
            <div class="f-2a"></div>
            <div class="f-2c">
              <li class="li2-1"></li>
              <li class="li2-2"></li>
              <li class="li2-3"></li>
              <li class="li2-4"></li>
            </div>
          </div>
          <div class="f-2b"></div>
        </div>
      </div>
      <!-- feed3 -->
      <div class="feed-3">
        <div class="feed-3a"></div>
      </div>
    </div>
    <!-- feed4 -->
    <div class="box-4"></div>
  </div>
  <div class="main2"></div>
</div>
